.git
.github
.idea
.nova
.vscode
.zed
node_modules
vendor
public/build
public/hot
public/storage
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
bootstrap/cache/*.php
database/database.sqlite
.env
.env.*
!.env.docker.dev
!.env.docker.prod.example
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
.phpactor.json
